<div class="container">
 <form [formGroup]="userForm" (submit)="sendata()">
    <label>productname</label>
    <input type="text" formControlName="productName" class="form-control">
    <label>description</label>
    <input type="text" formControlName="description"  class="form-control">
    <label>email</label>
    <input type="text" formControlName="email"  class="form-control">
    <label>Category</label>
    <select  class="form-control" formControlName="Category" >
        <option value="Mobile">Mobile</option>
        <option value="Tv">Tv</option>
        <option value="Fridge">Fridge</option>
    </select>
    <input type="submit" value="Submit">
    
 </form>
</div> 